:root {
  --heatmap-lib-positive: #38b990;
  --heatmap-lib-zero: #a0a0a0;
  --heatmap-lib-negative: #f85454;
  --heatmap-lib-text-color: #000;
  --lib-border-color: #eceef4;
}

// Color Variables
$heatmap-lib-positive: var(--heatmap-lib-positive);
$heatmap-lib-zero: var(--heatmap-lib-zero);
$heatmap-lib-negative: var(--heatmap-lib-negative);
$heatmap-lib-text-color: var(--heatmap-lib-text-color);
$lib-border-color: var(--lib-border-color);